.content{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

    min-width:100%;
 
    min-height: 100vh;
    height:auto;

    .content__bestImage{
        position: relative;
        flex-direction: column;

        min-height: 100vh;
        height: auto;

        color: beige;

        .bestImage{  
            border-radius: 20px;
            border-bottom: 2px solid rgb(62, 68, 185);
            border-left: .5px solid rgb(62, 68, 185);
            border-right: .5px solid rgb(62, 68, 185);

            animation: boxShadowAnimate 3s infinite;
            
            max-width: 500px;
            max-height: 500px;

            @keyframes boxShadowAnimate {
                0% { 
                    -webkit-box-shadow: 0px -36px 50px -4px rgb(34, 55, 82);
                    -moz-box-shadow:  0px -36px 50px -4px rgb(34, 55, 82);
                    box-shadow: 0px -36px 50px -4px rgb(34, 55, 82);
                }
                50%{
                    -webkit-box-shadow: 0px -56px 60px 0px rgb(31, 57, 92);
                    -moz-box-shadow: 0px -56px 60px 0px rgb(31, 57, 92);
                    box-shadow: 0px -56px 60px 0px rgb(31, 57, 92);
                }
                100% {         
                    -webkit-box-shadow: 0px -36px 40px -5px rgb(28, 57, 94);
                    -moz-box-shadow:  0px -36px 40px -5px rgb(28, 57, 94);
                    box-shadow: 0px -36px 40px -5px rgb(28, 57, 94);
                }
              }

            @media screen and (max-width:754px){        
                width: 85%;
            }
        }
        .icon{
            height: 100%;
            margin: auto;
        }
        h1{  
            z-index: 9; 
            height: 100%;
            margin: auto;
            font-size: 30px;
            letter-spacing: 2px;

            @media screen and (max-width:754px){
               width: 200px; 
               text-align: center;      
            }
        }
    }
    .content__gallery{
        flex-direction: column;

        min-height: 100vh;

        h1{
            color: beige;
            letter-spacing: .2rem;

            .content__h1-cars{
                color: rgb(55, 63, 209);
                font-size: 50px;          
            }

            @media screen and (max-width:754px){
                width: 150px;
                text-align: center;
            }
        }
        .content__cars{
            min-width:100%;
            flex-wrap: wrap;
            margin-bottom: 50px;
            
        }    
    }
}
