.content{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

    min-width:100%;
 
    min-height: 100vh;
    height:auto;

    background-color:rgb(0,2,36);
    
}