.add__car{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 250px;
    height: 270px;
    margin: 2rem 1rem 0rem 1rem;

    background-color: rgba(150, 174, 231,.4);
    border-radius: 1rem;

    font-size: 70px;

    &:hover{
        background-color: rgba(150, 174, 231,.65);
        transition: all ease;
        transition-duration: .5s;
    }

    @media screen and (max-width:754px){
        width:80%;      
        height: 300px;
        
    }
}